@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using AzurePipelineSample.Models
@model AzurePipelineSample.Models.User
@{
    ViewData["Title"] = "hello";
}
<table id="sample_user_table">
    @foreach (User u in (List<User>)ViewData["SampleUsers"])
    {
    
        <tr>
            <td>ID: </td>
            <td class="sample_user_table_value_cell">@u.ID</td>
        </tr>
        <tr>
            <td>Name: </td>
            <td class="sample_user_table_value_cell">@u.Name</td>
        </tr>
        <tr>
            <td>Description: </td>
            <td class="sample_user_table_value_cell">@u.Description</td>
        </tr>
    }
</table>